<div class="fud-view container">
  <div class="fud-list">
    <ng-container *ngFor="let fud of fudsList">
      <a [routerLink]="['/'+fud.url]">
        <p>{{fud.title}}</p>
        <p>
          {{fud.excerpt}}
        </p>
      </a>
    </ng-container>
  </div>
  <div class="fud-details" *ngIf="fud">
    <p class="fud-id">FUD {{fud.id}}:</p>
    <h2> {{fud.title}} <p class="not-true text-center">NOT TRUE!</p></h2>

    <div class="desc">
      {{fud.description}}
    </div>
    <div class="confirm">
      <ngx-tweet [tweetId]="fud.tweet"></ngx-tweet>
    </div>
  </div>
  <div class="clr"></div>
</div>
