<div class="fud-list container">
  <div class="fuddesk-logo">
    FudDesk
  </div>
  <ng-container *ngFor="let fud of fudsList">
    <a [routerLink]="[fud.url]">
      <mat-card class="fud-card">
        <mat-card-content>
          <p class="text-center">{{fud.title}}</p>
          <p class="fud-title">
            {{fud.excerpt}}
          </p>
          <p class="not-true text-center">NOT TRUE!</p>
        </mat-card-content>
      </mat-card>
    </a>
  </ng-container>
  <mat-card class="fud-card">
    <mat-card-content>
      <p class="text-center">more to come...</p>
    </mat-card-content>
  </mat-card>
</div>
