<mat-toolbar>
  <button class="logo" [routerLink]="['/']" mat-button>
    <img src="assets/images/xrp-logo.svg" height="20px" style="margin-right: 10px;">
    <img src="assets/images/100_emoji.png" height="30px ">
    <div class="tags">
      #0doubt <br>
      #xrpthestandard
    </div>
  </button>
  <nav>
    <button
      routerLinkActive="active-route"
      [routerLinkActiveOptions]="{exact:true}"
      [routerLink]="['/']"
      mat-button
    >
      FudDesk
    </button>
    <a href="http://dungeonsoffud.xrp100.net" target="_blank">
      <button mat-button>Play Dungeons of Fud</button>
    </a>
    <button routerLinkActive="active-route" [routerLink]="['/partners']" mat-button>Partners</button>
    <button routerLinkActive="active-route" [routerLink]="['/about']" mat-button>About site</button>

  </nav>
</mat-toolbar>
<div class="router-container">
  <router-outlet></router-outlet>
</div>
