mat-toolbar {
  display: block;
  vertical-align: middle;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  nav {
    margin-top: 10px;
  }
}

.router-container {
  width: 100%;
  height: calc(100% - 100px);
  padding-top: 100px;
  overflow-y: scroll;
}


.active-link {
  color: red;
}
